/*.ticker-section {*/
/*padding: 0px;*/
/*margin-left: 10px;*/
/*min-height: 33px;*/
/*margin-bottom: 10px;*/
/*}*/

/*h4.newsTicker-title {*/
/*padding: 5px;*/
/*margin: 0px;*/
/*line-height: 20px;*/
/*}*/
/*.ticker {*/
/*margin:0;*/
/*padding:5px;*/
/*list-style-type:none;*/
/*}*/
/*.ticker a {*/
/*line-height:1.5;*/
/*}*/

/*.ticker-active {*/
/*overflow:hidden;*/
/*}*/
/*.ticker-active a {*/
/*display:none;*/
/*overflow:hidden;*/
/*white-space:nowrap;*/
/*}*/

.ticker-section {
	padding: 0px;
	min-height: 33px;
	margin-bottom: 10px;
}

h4.newsTicker-title {
	padding: 5px;
	margin: 0px;
	line-height: 20px;
}
.TickerNews {
	width: 100%;
	line-height: 31px;
}
.ti_wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.ti_slide{
	width: 30000px;
	position: relative;
	left: 0;
	top: 0;
}
.ti_content{
	width: 8000px;
	position: relative;
	float:left;
}
.ti_news{
	float:left;
}
.ti_news a{
	display: block;
	margin-right: 50px;
	color:black;
	color:#317092;
	font-family: geneva;
}


